.app {
  max-width: 800px;
  margin: auto;
}

.flex {
  display: flex;
}

.justify-evenly {
  justify-content: space-evenly;
}

.center {
  text-align: center;
}

.section-title {
  color: rgb(71, 71, 71);
}

.input-box {
  padding: 10px;
  margin-right: 15px;
  font-size: 1em;
  /* border-bottom: 1px solid black; */
  min-width: 80px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

th {
  text-align: left;

}

td {
  padding: 2px;
  padding-right: 20px;
}