.todo {
    display:inline-block;
    min-width: 100px;
}

.remove-button {
    margin-left: 10px;
    font-size: 0.9em;
    color: red;
    /* text-decoration: u; */
    /* background-color: lightgray; */
    border: 1px solid lightgray;
    padding: 2px;
}

.remove-button:hover {
    background-color: red;
    color: white;
}