.form-row {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: red;
    font-size: 0.8em;
}

input {
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 3px;
    max-width: 300px;
}

label {
    display: inline-block;
    min-width: 200px;
}

legend {
    margin-bottom: 15px;
}

.form-button {
    max-width: 150px;
    margin-top: 20px;
}