img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.uploader {
    margin: auto;
    width: 400px;
    margin-top: 50px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: lightgray;
    margin-bottom: 30px;
}